.hideMe {
    text-align: center;
    margin: auto;
    position: fixed;
    width: 80%;
    animation: fadeOut 5s;
    visibility: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}